<!-- Extend the base layout -->
{% extends "base.html" %} 

<!-- Define the content block -->
{% block content %}

<!-- Heading -->
<h3 class="light-blue-text text-darken-4 center-align">Add Category</h3>

<!-- Form container -->
<div class="row card-panel grey ligthen-5">

    <!-- Start of form -->
    <form class="col s12" method="POST" action="{{ url_for('add_category') }}">

        <!-- Category name input field -->
        <div class="row">
            <div class="input-field col-12">
                <i class="fas fa-folder-open prefix light-green-text text-darken-4"></i>
                <input id="category_name" name="category_name" minlength="3" maxlength="25" type="text" class="validate" required>
                <label for="category_name">Category Name</label>
            </div>
        </div>

        <!-- Submit button -->
        <div class="row">
            <div class="col-12 center-align">
                <button type="submit" class="btn-large light-green darken-1">
                    Add Category <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>

    <!-- End of form -->
    </form>

<!-- End of form container -->
</div>

<!-- End of content block -->
{% endblock%}